name: Render ML Workspace

on:
  push:
    paths:
      - "user/**"

jobs:
  render:
    uses: xian-hongwang/ml-platform-infra/.github/workflows/render_and_notify.yaml@main
    with:
      user_dir: user
    secrets:
      INFRA_REPO_TOKEN: ${{ secrets.INFRA_REPO_TOKEN }}